	# ============================================
# .env — SRV-RABBIT
# Copiar como .env y completar valores reales
# ============================================

RABBITMQ_DEFAULT_USER=<user_rabbit>
RABBITMQ_DEFAULT_PASS=<pass_rabbit>
