# ============================================
# .env — SRV-MASTER (Airflow + PostgreSQL)
# Copiar como .env y completar los valores reales
# ============================================

AIRFLOW_UID=50000
CELERY_HOSTNAME=master
QUEUES=default
PYTHONPATH=/opt/pipelines

AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=<fernet_key_identica_en_master_y_workers>
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

POSTGRES_USER=<usuario_db>
POSTGRES_PASSWORD=<password_db>
POSTGRES_DB=nebula_db
POSTGRES_HOST=10.0.2.54
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<usuario_db>:<password_db>@postgres:5432/nebula_db

RABBITMQ_DEFAULT_USER=<user_rabbit>
RABBITMQ_DEFAULT_PASS=<pass_rabbit>
AIRFLOW__CELERY__BROKER_URL=amqp://<user_rabbit>:<pass_rabbit>@10.0.2.61:5672//
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<usuario_db>:<password_db>@postgres:5432/nebula_db

AIRFLOW__WEBSERVER__BASE_URL=https://nebula-airflow.coderhivex.com
AIRFLOW__API__INSTANCE_NAME=Airflow Data Platform
AIRFLOW__API__SECRET_KEY=<secret_key_flask>
AIRFLOW__API_AUTH__JWT_SECRET=<jwt_secret>
AIRFLOW__API_AUTH__JWT_ISSUER=https://nebula-airflow.coderhivex.com/execution

AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL=5

# --- Solo Master, NO copiar a Workers ---
_AIRFLOW_DB_MIGRATE=false
_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_USERNAME=<admin_user>
_AIRFLOW_WWW_USER_PASSWORD=<admin_password>

AIRFLOW__LOGGING__REMOTE_LOGGING=true
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://nebula2-airflow-logs/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=my_s3_conn
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false

# --- Spark Cluster ---
SPARK_MODE=master
SPARK_MASTER_HOST=11.0.2.183
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8090
SPARK_HOME=/opt/spark
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_PORT=7000
SPARK_WORKER_WEBUI_PORT=8091
SPARK_DRIVER_HOST=10.0.2.54
SPARK_MASTER_URL=http://11.0.2.183:6066

# --- Pipeline B3/B4 — S3 y Analytics ---
S3_BUCKET=data-nebula-clinical-lake
ANALYTICS_PG_HOST=10.0.2.10
ANALYTICS_PG_USER=<usuario_analytics>
ANALYTICS_PG_PASS=<password_analytics>
