# =========================
# CORE
# =========================
PYTHONPATH=/opt/pipelines
AIRFLOW_UID=50000

# =========================
# WORKER CONFIG
# =========================
# Nombre único por worker: WORKER-3, WORKER-2, WORKER-3
CELERY_HOSTNAME=WORKER-3
QUEUES=default

# =========================
# AIRFLOW CORE
# =========================
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
# DEBE coincidir exactamente con el master
AIRFLOW__CORE__FERNET_KEY=<SAME_AS_MASTER>
AIRFLOW__CORE__DAGS_FOLDER=/opt/pipelines/dags
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

# =========================
# DATABASE
# =========================
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<USER>:<PASSWORD>@<HOST>:<PORT>/postgres
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_PRE_PING=True
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_SIZE=5
AIRFLOW__DATABASE__SQL_ALCHEMY_MAX_OVERFLOW=10
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_RECYCLE=1800

# =========================
# API SERVER
# =========================
AIRFLOW__API__SECRET_KEY=<SAME_AS_MASTER>
AIRFLOW__API__SERVER_TYPE=gunicorn

# JWT — DEBE coincidir exactamente con el master
AIRFLOW__API_AUTH__JWT_SECRET=<SAME_AS_MASTER>
AIRFLOW__API_AUTH__JWT_ISSUER=http://<MASTER_IP>:8080/execution/

AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://<MASTER_IP>:8080/execution/

# =========================
# CELERY
# =========================
AIRFLOW__CELERY__BROKER_URL=amqp://admin:admin@<RABBITMQ_IP>:5672//
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/postgres

AIRFLOW__CELERY__WORKER_PREFETCH_MULTIPLIER=1
AIRFLOW__CELERY__TASK_TRACK_STARTED=true
AIRFLOW__CELERY__WORKER_CONCURRENCY=4

# =========================
# SCHEDULER
# =========================
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=false

# =========================
# LOGGING — S3
# =========================
AIRFLOW__LOGGING__REMOTE_LOGGING=true
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://<YOUR_BUCKET>/logs/
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=my_s3_conn
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false
