# ============================================
# .env — SRV-WORKER1/2/3 (Celery Worker)
# Copiar como .env y completar valores reales.
# Único valor que cambia entre las 3 instancias: CELERY_HOSTNAME
# ============================================

AIRFLOW_UID=50000
PYTHONPATH=/opt/pipelines
CELERY_HOSTNAME=<WORKER-1_o_WORKER-2_o_WORKER-3>
QUEUES=default

AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=<fernet_key_identica_en_master_y_workers>
AIRFLOW__CORE__DAGS_FOLDER=/opt/pipelines/dags
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<usuario_db>:<password_db>@10.0.2.54:5432/nebula_db

AIRFLOW__API__SECRET_KEY=<secret_key_flask>
AIRFLOW__API__INSTANCE_NAME=Airflow Data Platform
AIRFLOW__WEBSERVER__BASE_URL=https://nebula-airflow.coderhivex.com

AIRFLOW__API_AUTH__JWT_SECRET=<jwt_secret>
AIRFLOW__API_AUTH__JWT_ISSUER=https://nebula-airflow.coderhivex.com/execution

AIRFLOW__CELERY__BROKER_URL=amqp://<user_rabbit>:<pass_rabbit>@10.0.2.61:5672//
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<usuario_db>:<password_db>@10.0.2.54:5432/nebula_db

AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL=5

AIRFLOW__LOGGING__REMOTE_LOGGING=true
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://nebula2-airflow-logs/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=my_s3_conn
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false

# --- Pipeline B3/B4 — S3 y Analytics ---
SPARK_MASTER_URL=http://11.0.2.183:6066
S3_BUCKET=data-nebula-clinical-lake
ANALYTICS_PG_HOST=10.0.2.10
ANALYTICS_PG_USER=<usuario_analytics>
ANALYTICS_PG_PASS=<password_analytics>
